main {
  width: 100%;
  height: 100vh
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: URL("assets/wave.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding-bottom: 15em
}

body {
  width: 100vw;
  min-width: 50vw;
  margin: auto;
}

header{
  width: 100vw;
  padding: 1.5rem;
  top: 0px;
  font-family: "parkinsans", sans-serif;
  
}

.aboutcontainer {
  max-width: 80vw;
  margin-inline: auto;
  padding: 4rem;
}

.columns {
  padding-top: 4em;
display: grid;
  gap: 4rem;
  
}
h2 {
 font-size: 1.5em;
font-weight: 600;
font-family: "parkinsans", sans-serif;
line-height: 1.5em; 
}

h3 {
 font-size: .8em;
  font-weight: 700;
  font-family: "poppins", sans-serif;
}

p {
 font-size: .7em;
line-height: 1.4em;
  font-weight: 500;
  padding-bottom: 1rem;
}
@media only screen and (min-width: 50em) {
  .columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
