main {
  width: 100%;
  height: 100vh
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  width: 100vw;
  padding: 1.5rem;
  top: 0px;
  font-family: "parkinsans", sans-serif;
  
}

.aboutcontainer {
  max-width: 1110px;
  margin-inline: auto;
  padding: 1.5rem;
}

.columns {
display: grid;
  gap: 1rem;
  
}
h2 {
 font-size: 1.5em;
font-weight: 600;
font-family: "parkinsans", sans-serif;
line-height: 1.5em; 
}

h3 {
 font-size: .8em;
  font-weight: 700;
  font-family: "poppins", sans-serif;
}

p {
 font-size: .7em;
line-height: 1.4em;
  font-weight: 500;
  padding-bottom: .5rem;
}
@media only screen and (min-width: 50em) {
  .columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
