main {
  width: 100%;
  height: 100vh
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  width: 100vw;
  padding: 1.5rem;
  top: 0px;
  font-family: "parkinsans", sans-serif;
  
}

.aboutcontainer {
  max-width: 1110px;
  margin-inline: auto;
  padding: 1.5rem;
}

.columns {
display: grid;
  gap: 1rem;
}

@media only screen and (max-width: 480px) {
  .columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
