main {
	width: 100%;
	height: auto;
	margin-top: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 5em;
	line-height: 1.2em;
	padding: 1em;
	padding-bottom: .2em;

}

.subtext {
	font-size: .8em;
	line-height: 1.4em;
	padding-bottom: 2em;
	padding-left: 6.5em;
	animation: bounce .8s ease infinite alternate;
	animation-delay: .3s;
}


.subtext2 {
	font-size: .8em;
	line-height: 1.4em;
	padding-left: 6.5em;
}

.blahajcontainer {
	width: 100vw;
	height: 1vw;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

footer {
	width: 100%;
	height: 5em;
	background-color: #5c7391;
	padding: 3em 4rem;
	display: flex;
	margin-top: 10em;
	font-size: 16px;
	font-family: "poppins", sans-serif;
	padding-bottom: 5em;

}

footercontainer {
	display: flex;
	justify-content: space-between;

}

footer a {
	text-decoration: none;
	color: #F2F2F2;
	display: flex;
	flex-direction: column;
	padding-bottom: .2em;


}

footer a:hover {
		text-decoration: underline;
		color: #F2F2F2;

}

@keyframes bounce {
	100% {
		transform: translateY(-20px);
	}
}

@media only screen and (max-width: 480px) {
	nav {
		font-size: .8em;
	}

	.title {
		font-size: 1.6em;
		line-height: 1.2em;
		padding: 1em;
		padding-bottom: .2em;

	}

	.subtext {
		font-size: .7em;
		line-height: 1.4em;
		padding-bottom: 2em;
		padding-left: 6.5em;
		padding-top: 2em;
	}

	.subtext2 {
		font-size: .7em;
		line-height: 1.4em;
		padding-left: 6.5em;
	}

	.blahajcontainer {
		width: 100vw;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-top: 8em;
	}

	footer {
		width: 100%;
		height: 5em;
		background-color: #5c7391;
		padding: 3em 4rem;
		display: flex;
		margin-top: 20em;
		font-size: 16px;
		font-family: "poppins", sans-serif;
		padding-bottom: 5em;

	}
}
