main {
  width: 100%;
  height: 100vh;
  margin-top: 1em;
  
}

main .titlecontainer h1 {
font-size: 5em;
line-height: 1.4em;
  
}

.titlecontainer {
  width: 100vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.blahajcontainer {
  width: 100vw;
  height: 50vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
