<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8"/>
  <title>Blubu The Blahaj Birthday</title>
  <meta name="description" content="Blahaj birthday invite"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  
  <!-- Defines preview content that will be displayed when your site is linked on twitter, reddit, etc-->
  <meta name="robots" content="index,follow" />
  <meta property="og:title" content="Blubu The Blahaj Birthday"/>
  <meta property="og:type" content="Article"/>
  <meta property="og:url" content="https://github.com/">
  <meta property="og:image" content="exampleImage.jpg"/>
  <meta name="twitter:card" content="summary" />
  <link rel="manifest" href="site.webmanifest"/>
  <link rel="icon" href="https://assets.blahaj.land/pictures/blahaj-team-icon.png"/>
  <link rel="stylesheet" href="normalize.css"/>
  <link rel="stylesheet" href="index.css"/>
  <script src="/script.js" defer></script>
  <meta name="theme-color" content="#fafafa"/>
</head>
