* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #EFF2F6;
  color: #324657;
  line-height: 1.4;
  font-size: 16pt;
}

nav {
color: #324657;
display: flex;
align-items: center;  
justify-content: space-between;
padding: 0 1rem;
font-size: 1.5em;
text-decoration: none;
}

li {
display: inline;
float: right;
}

a:hover {
color:  #698ca9;
}

main {
  width: 100%;
  height: 100vh;
  margin-top: 10em;
}

main .titlecontainer h1 {
font-size: 4em;
line-height: 1.7em;
}

h1 {
font-size: 2.5em;
font-weight: 600;
font-family: "parkinsans", sans-serif;
line-height: 1.5em;
text-transform: uppercase;
}

p {
font-size: 16px;
font-weight: 600;
font-family: "poppins", sans-serif;
line-height: 1.2em;
}

.titlecontainer {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.blahajcontainer {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
