* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #EFF2F6;
  color: #324657;
  line-height: 1.4;
  font-size: 16pt;
}

main {
  width: 100%;
  height: 100vh;
  margin-top: 10em;
}
h1 {
font-size: 2.5em;
font-weight: 600;
font-family: "parkinsans", sans-serif;
line-height: 1.5em;
text-transform: uppercase;
}

p {
font-size: 16px;
font-weight: 600;
font-family: "poppins", sans-serif;
line-height: 1.2em;
}


