* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #EFF2F6;
  color: #324657;
  line-height: 1.4;
  font-size: 16pt;
}

header{
  width: 100vw;
  padding: 1.5rem;
  top: 0px;
  font-family: "parkinsans", sans-serif;
  
}

nav {
color: #324657;
display: flex;
align-items: center;  
justify-content: space-between;
padding: 0 2rem;
font-size: 1.2em;
text-decoration: none;
  
  
}

li {
display: inline;
 justify-content: center;
  align-items: center;
}

a:hover {
color:  #698ca9;
}

nav a {
  
padding: 0 1em;
text-decoration: none;
color:  #324657;
}


h1 {
font-size: 2.5em;
font-weight: 600;
font-family: "parkinsans", sans-serif;
line-height: 1.5em;
text-transform: uppercase;
}

p {
font-size: 16px;
font-weight: 600;
font-family: "poppins", sans-serif;
line-height: 1.2em;
}
